<!--
  Generated template for the ProcessEquipPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-buttons left>
      <button ion-button icon-only class="menu" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="page-title">
      RIG 1
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="notifications">
        <ion-icon name="notifications">
          <ion-badge id="notifications-badge" color="danger">5</ion-badge>
        </ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <single-select
          [icons]='{"Date1":"../../assets/imgs/calendar.png","Date2":"../../assets/imgs/calendar.png"}'
          [optionsArray]="timeOptionsArray"
          (onChange)="timeSelectionChanged($event)">
        </single-select>
      </ion-col>
      <ion-col col-5>
        <single-select
          [icons]='{"Process":"../../assets/imgs/process.png","Equipment":"../../assets/imgs/equipment.png"}'
          [optionsArray]="settingsOptions"
          (onChange)="machineSelectionChanged($event)">
        </single-select>
      </ion-col>
      <ion-col col-4>
        <single-select
          [icons]='{"Drill":"../../assets/imgs/drill.png","TDSpeed":"../../assets/imgs/speed.png"}'
          [optionsArray]="typeOptions"
          (onChange)="unitSelectionChanged($event)">
        </single-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="machineOptionSelectedValue === 'Process' && unitOptionSelectedValue === 'Drill'">
    <ion-row style="color:black;  height: auto;">
      <ion-col col-2 >
      </ion-col>
      <ion-col col-1 class="my-col-1">
        <ion-icon name="arrow-dropup" style="margin-bottom:-7px;color:#d8d8d8;"></ion-icon>
        <div class="line" style="margin-top:-7px;"> &nbsp;</div>

      </ion-col>
      <ion-col col-9>
      </ion-col>

    </ion-row>
    <timeline *ngFor="let process of processData" [date]="process.fields.DateTime |  date" [time]="process.fields.DateTime |  date:'HH:mm'" event={{process.fields.Process}}></timeline>
  </ion-grid>

  <ion-grid *ngIf="machineOptionSelectedValue === 'Equipment' && unitOptionSelectedValue === 'TDSpeed'">
    <ion-row>
      <ion-col col-12>
        <bullet-graph [containerID]="'container'"
                      [title]="'RPM'"
                      [low]="150"
                      [medium]="225"
                      [high]="300"
                      [current]="275"
                      [optimal]="250"></bullet-graph>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
