page-process-equip {

}
  /////////////////////
  .line {
  background-color:#d8d8d8;
   width:1px;
   margin-left:49.3%;
   margin-top:-6%;
   margin-bottom:0;
   height:100%;
  }
  .my-col-1{
    align-content:center;
    text-align: center;
    padding:-2px;
    vertical-align: middle;
    justify-content: center;
    flex-direction:column;
  }
  .time {
  font-size:10px;
  letter-spacing:0.28;
  color:#aeaeae;
  font-family:GEInspiraSans;
  }
  .date {
  font-size:10px;
  letter-spacing:0.28;
  color:#000000;
  font-family:GEInspiraSans;
  }
 
  .event {
      font-size:10px;
  letter-spacing:0.28px;
  color:#273142;
  margin-top:1%;
  font-family:GEInspiraSans;
  }
  .check-point {
  height:10%;
  color:#d8d8d8;
  }
  .invalid {
    position: fixed;
    top: 50%;
    left:40%;
    height: 25%;
    width:25%;
    align-items: center;


  }
  .invalid-image{
    margin-left:18%;
    height:60%;
    width:60%;
    padding:20px;

  }
  .invalid-content {
    margin-left:30%;
    font-family: GEInspiraSans;
    font-size: 16px;
    letter-spacing: 0.28px;
    color:#273142;

  }