<!--
  Generated template for the ProcessEquipPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-buttons left>
      <button ion-button icon-only class="menu" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="page-title">
      RIG 1
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="notifications">
        <ion-icon name="notifications">
          <ion-badge id="notifications-badge" color="danger">5</ion-badge>
        </ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <single-select
          [iconName]="'ios-calendar-outline'"
          [optionsArray]="timeOptionsArray"
          (onChange)="timeSelectionChanged($event)">
        </single-select>
      </ion-col>
      <ion-col col-5>
        <single-select
          [iconName]="'md-settings'"
          [optionsArray]="machineOptions"
          (onChange)="machineSelectionChanged($event)">
        </single-select>
      </ion-col>
      <ion-col col-4>
        <single-select
          [iconName]="'md-arrow-down'"
          [optionsArray]="unitOptions" (onChange)="unitSelectionChanged($event)">
        </single-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="machineOptionSelectedValue === 'process' && unitOptionSelectedValue === 'drilling'">
    <timeline *ngFor="let process of processData" date={{process.date}} time={{process.fields.DateTime}} event={{process.fields.Process}}></timeline>
  </ion-grid>

  <ion-grid *ngIf="machineOptionSelectedValue === 'equipment' && unitOptionSelectedValue === 'tdSpeed'">
    <ion-row>
      <ion-col col-12>
        <bullet-graph [containerID]="'container'"
                      [title]="'RPM'"
                      [low]="150"
                      [medium]="225"
                      [high]="300"
                      [current]="275"
                      [optimal]="250"></bullet-graph>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
