<!--
  Generated template for the ProcessEquipPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-buttons left>
      <button ion-button icon-only class="menu" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="page-title">
      RIG 1
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="notifications">
        <ion-icon name="notifications">
          <ion-badge id="notifications-badge" color="danger">5</ion-badge>
        </ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <div item-content *ngFor="let x of processData">
    Hello
  </div> -->
  <ion-grid>
    <!-- <ion-row style="color:black;  height: auto;">
      <ion-col col-2 >
      </ion-col>
      <ion-col col-1 class="my-col-1">
        <ion-icon name="arrow-dropup" style="margin-bottom:-7px;color:#d8d8d8;"></ion-icon>
        <div class="line" style="margin-top:-7px;"> &nbsp;</div>
  
      </ion-col>
      <ion-col col-9>
      </ion-col>
  
    </ion-row> -->
    <timeline *ngFor="let process of processData" date={{process.date}} time={{process.time}} event={{process.event}}></timeline>
  </ion-grid>
</ion-content>
