
.menu-button {
  background-color: #273142;
  height:40px;
}
.notifications {
  right:10px;
  color:white;

}
.row {
  color:white;
}

.menu {
  left: 10px;
  color:white;
}
#notifications-badge {
  background-color: #ff8a7d;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}

page-alerts {
  font-family: GEInspiraSans;
}

.total-alerts{
  font-size: 44px !important;
  letter-spacing: 0.04px !important;
  color: #bbd6f2 !important;
  margin: 0!important;
}

.total-alerts-label{
  font-size: 12px !important;
  margin: 0 !important;
  color: #aeaeae !important;
}

.unacknowledged{
  font-size: 44px !important;
  letter-spacing: 0.04px !important;
  margin: 0 !important;
  color: #273142 !important;
}

.unacknowledged-label{
  font-size: 12px !important;
  margin: 0 !important;
  color: #aeaeae !important;
}

.extra-padding{
  padding-left: 0;
  margin: 0;
}

.extra-padding > .item-inner > .input-wrapper > .label-md{
  margin: 0;
}
