sub-alerts {
  font-family: GEInspiraSans;
}

.sub-alerts-label{
  padding-top: 6px;
  font-size: 16px;
  color: #273142;
}

.sub-alerts-value-label{
  font-size: 14px;
  color: white;
  padding: 7px;
  text-align: center;
}

.sub-alerts-value-box{
  display: block;
  width: 37px;
  height: 30px;
  border-radius: 7px;
  background-color: #273142;
}
