page-watchlist {

}
.invalid-image{
    margin-left:18%;
    height:60%;
    width:60%;
    padding:20px;

  }
  .invalid-content {
    margin-left:30%;
    font-family: GEInspiraSans;
    font-size: 16px;
    letter-spacing: 0.28px;
    color:#273142;

  }