<!--
  Generated template for the WatchlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-buttons left>
      <button ion-button icon-only class="menu" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="page-title">
      RIG 1
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="notifications">
        <ion-icon name="notifications">
          <ion-badge id="notifications-badge" color="danger">5</ion-badge>
        </ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="extra-padding">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <single-select
              [icons]='{"Date1":"assets/imgs/calendar.png","Date2":"assets/imgs/calendar.png"}'
              [optionsArray]="timeOptionsArray"
              (onChange)="timeSelectionChanged($event)">
            </single-select>
          </ion-col>
          <ion-col col-5>
            <single-select
              [icons]='{"Process":"assets/imgs/process.png","Equipment":"assets/imgs/equipment.png"}'
              [optionsArray]="settingsOptions"
              (onChange)="machineSelectionChanged($event)">
            </single-select>
          </ion-col>
          <ion-col col-4>
            <single-select
              [icons]='{"Drill":"assets/imgs/drill.png","TDSpeed":"assets/imgs/speed.png"}'
              [optionsArray]="typeOptions"
              (onChange)="unitSelectionChanged($event)">
            </single-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid *ngIf="machineOptionSelectedValue === 'Process' && unitOptionSelectedValue === 'Drill'">
        <ion-row>
          <ion-col col-6>
            <doughnut [elementId]="'container-weight'"
                      [alertsCount]="watchlistData[0].percentage"
                      [isGrayedGraph]="false"
                      [alertsLabel]="watchlistData[0].metric"></doughnut>
          </ion-col>
          <ion-col col-6>
            <doughnut [elementId]="'container-drill'"
                      [alertsCount]="watchlistData[1].percentage"
                      [isGrayedGraph]="false"
                      [alertsLabel]="watchlistData[1].metric"
                      [remainingAlertsCount]="watchlistData[1].rem"></doughnut>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="machineOptionSelectedValue === 'Equipment' && unitOptionSelectedValue === 'TDSpeed'">
        <div>
          <img src="assets/imgs/Empty.png" class="invalid-image">
        </div>

        <div class="invalid-content">
          WORK IN PROGRESS
        </div>
      </div>
      <div *ngIf="machineOptionSelectedValue === 'Process' && unitOptionSelectedValue === 'TDSpeed'">
        <div>
          <img src="assets/imgs/Empty.png" class="invalid-image">
        </div>

        <div class="invalid-content">
          WORK IN PROGRESS
        </div>  </div>
      <div *ngIf="machineOptionSelectedValue === 'Equipment' && unitOptionSelectedValue === 'Drill'">

        <div>
          <img src="assets/imgs/Empty.png" class="invalid-image">
        </div>

        <div class="invalid-content">
          WORK IN PROGRESS
        </div>

      </div>
    </ion-item>
  </ion-list>
</ion-content>
