single-select {

}

ion-item.select-item {
  padding-left: 0;
  ion-label {
    margin-right: 0;
  }
  ion-select {
    padding-left: 0;
    max-width: unset;
  }
}
.icon-option{
  height:24px;
}

.extra-margin-removal{
  margin-bottom: 0;
}

.radio .radio-icon {
  display: none;
}
