// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background-md {
    background-color: #273142;

  }

  .toolbar-content-md {
    background-color: #273142;
    flex-direction: row;
  }
  .menu-button {
    background-color: #273142;
    color:white;
    height: 30px;
  }
  .toolbar-title {
    color:white;
 font-weight:bold;
font-family:GEInspiraSans;
    font-size:24px;
    letter-spacing:0.57px;
  }
  .tabs-md .tabbar {
    background-color: #273142;
  }
  .tabs-md .tab-button[aria-selected=true] {
      font-weight: 900;
}
  .tab-button-text {
    color:white;
    size: 16sp;
    height: 18dp;
    font-family: GEInspiraSans;
    letter-spacing: 0.57;
  }
  .tabs-md[tabsHighlight="true"] .tab-highlight {
      background-color: #bbd6f2;
      height:5%;
  }

@font-face {
  font-family: GEInspiraSans;
  src:url("../assets/GE Inspira Sans/Software (TTF)/GEInspiraSans.ttf") format('trueType');
  font-weight: normal;
  font-style:normal;
}
