doughnut {

}
.alerts-label{
  letter-spacing: 0.33px;
  font-size: 12px;
}

.alerts-label-font-enabled{
  color: #000000;
}

.alerts-label-font-disabled{
  color: #DFDFDF;
}

.selection-arrow-line{
  display: block;
  width: 20%;
  height: 1%;
  border-radius: 1px;
  background-color: #273142;
  margin-left: 40%;
}

.selection-arrow{
  margin-left: 38%;
  margin-top: -17.6%;
  font-size: 1.4em;
  color: #273142;
}
