doughnut {

}
.alerts-label{
  letter-spacing: 0.33px;
  font-size: 12px;
}

.alerts-label-font-enabled{
  color: #000000;
}

.alerts-label-font-disabled{
  color: #DFDFDF;
}

.selection-arrow{
  display: block;
  width: 38px;
  height: 2px;
  border-radius: 1px;
  background-color: #273142;
  margin-left: 45%;
}
